.weedUomLabel {
  text-decoration: underline;
  cursor: pointer;
}

.weedUomLabel:after {
  content: ' / ';
  cursor: text;
  text-decoration: none;
}

.weedUomLabel:last-child:after {
  content: none;
}

.weedUomLabelSelected {
  composes: weedUomLabel;
  font-weight: 600;
}

.weedUomLabelSelected:after {
  font-weight: 400;
}

.selectedItem {
  /*TODO: All sorts of color-related styling and vars and whatever, that whole setup*/
  background: #eee;
}

.weedChip {
  background: #ddd;
}
